.track {
  display: flex;
  flex-direction: column;
  padding: 6px;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: transparent;
}

.track__info {
  border-radius: 0 0 12px 12px;
  background-color: #fff;
  padding: 14px 8px;
  flex-grow: 1;
  width: 100%;
}

.track--active {
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .5);
  transition: background-color .3s ease-in-out;
}

.track--active:hover {
  background-color: rgba(255, 255, 255, .7);
}

.track__img-wrap {
  position: relative;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  line-height: 0;
}

.track__img-wrap::after {
  content: '';
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translate(-50%, -50%) rotateY(90deg);
  background-image: url('../img/play.svg');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.track:hover .track__img-wrap::after,
.track:focus .track__img-wrap::after {
  transform: translate(-50%, -50%) rotateY(0);
  opacity: 1;
}

.track:active .track__img-wrap::after {
  transform: translate(-50%, -50%) rotateY(0) scale(1.3);
  opacity: 1;
}

.track--active .track__img-wrap::after {
  transform: translate(-50%, -50%) rotateY(0);
  background-image: url('../img/pause.svg');
  transition-property: background-color;
  opacity: 1;
}

.track--active:hover .track__img-wrap::after {
  background-color: #fff;
}

